.App {
  text-align: center;
    color: rgb(32, 107, 97);
    text-decoration-line: underline;
    font-size: larger;
    font-style: italic;
    font-variant: small-caps;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.question-card {
  
  margin: 0 auto;

  
  width: 80%; /* Can be in percentage also. */
  height: auto;

  
  background-color: rgb(110, 185, 141);
  padding: 16px;
  border-radius: 16px;
  color: white;
  box-shadow: rgba(77, 182, 63, 0.25) 0px 30px 60px -12px,
    rgba(35, 201, 118, 0.3) 0px 18px 36px -18px;
}

ul {
  list-style: none;
}

li {
  margin-top: 8px;
  background-color: rgb(25, 165, 123);
  padding: 16px;
  border: 3px solid rgb(69, 209, 228);
  border-radius: 20px;
  font-size: 20px;
}

.question-text {
  color: rgb(139, 0, 116);
  font-size: 26px;
}

/* Final Results  */

.final-results {
  /* Center the div  */
  margin: 0 auto;

  /* Dimensions  */
  width: 50%; /* Can be in percentage also. */
  height: auto;
  margin-top: 64px;

  /* Visual  */
  background-color: rgb(22, 179, 132);
  padding: 16px;
  border-radius: 16px;
  color: white;
  box-shadow: rgba(136, 156, 148, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

button {
  background-color: rgb(179, 255, 0); /* Green */
  border: none;
  color: white;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;

  border-radius: 24px;
}